body {
  background-color: black;
  text-align: center;
}

.Particle {
  height: 100vh;
}

h1 {
  color: white;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #fafafa;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.content h1 {
  font-size: 40px;
  color: gray;
}

.content h2 {
  color: #fafafa;
  margin-top: 10px;
  font-size: 35px;
}

.socials {
  margin: 10px auto;
}

i {
  color: gray;
  transition: 500ms;
  user-select: none;
}

i:hover {
  transition: 0s;
  color: #f1356d;
}
